<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BI_Reporter.Properties.Settings.BI_Reporter_Connection"
            connectionString="Provider=SQLNCLI11;Data Source=45.76.138.73;Persist Security Info=True;Password=Coniston125;User ID=AHirst;Initial Catalog=SANDBOX_BISE"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>